@page
@model KanbanDashboard.Pages.IndexWithThemModel
@{
    //Layout = null;    
}
<head>

    <link rel="stylesheet" href="~/hani/assets/vendor/css/pages/app-kanban.css" />

</head>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="app-kanban">
        <!-- Add new board -->
        <div class="row">
            <div class="col-12">
                <form class="kanban-add-new-board">
                    <label class="kanban-add-board-btn" for="kanban-add-board-input">
                        <i class="ri-add-line"></i>
                        <span class="align-middle">Add new</span>
                    </label>
                    <input type="text" class="form-control w-px-250 kanban-add-board-input mb-4 d-none" placeholder="Add Board Title" id="kanban-add-board-input" required="">
                    <div class="mb-4 kanban-add-board-input d-none">
                        <button class="btn btn-primary btn-sm me-3 waves-effect waves-light">Add</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm kanban-add-board-cancel-btn waves-effect">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Kanban Wrapper -->
        <div class="kanban-wrapper"></div>

        <!-- Edit Task/Task & Activities -->
        <div class="offcanvas offcanvas-end kanban-update-item-sidebar">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Edit Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body pt-2">
                <ul class="nav nav-tabs mb-2 border-bottom" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active waves-effect" data-bs-toggle="tab" data-bs-target="#tab-update" aria-selected="true" role="tab">
                            <i class="ri-edit-box-line me-1_5"></i>
                            <span class="align-middle">Edit</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link waves-effect" data-bs-toggle="tab" data-bs-target="#tab-activity" aria-selected="false" tabindex="-1" role="tab">
                            <i class="ri-pie-chart-line me-1_5"></i>
                            <span class="align-middle">Activity</span>
                        </button>
                    </li>
                    <span class="tab-slider" style="left: 0px; width: 99.2031px; bottom: 0px;"></span>
                </ul>
                <div class="tab-content px-0 pb-0 pt-4">
                    <!-- Update item/tasks -->
                    <div class="tab-pane fade show active" id="tab-update" role="tabpanel">
                        <form>
                            <div class="form-floating form-floating-outline mb-5">
                                <input type="text" id="title" class="form-control" placeholder="Enter Title">
                                <label for="title">Title</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-5">
                                <input type="text" id="due-date" class="form-control" placeholder="Enter Due Date">
                                <label for="due-date">Due Date</label>
                            </div>
                            <div class="form-floating form-floating-outline mb-5">
                                <select class="select2 select2-label form-select" id="label">
                                    <option data-color="bg-label-success" value="UX">UX</option>
                                    <option data-color="bg-label-warning" value="Images">Images</option>
                                    <option data-color="bg-label-secondary" value="App">App</option>
                                    <option data-color="bg-label-danger" value="Code Review">Code Review</option>
                                    <option data-color="bg-label-info" value="Info">Info</option>
                                    <option data-color="bg-label-primary" value="Charts &amp; Maps">Charts &amp; Maps</option>
                                </select>
                                <label for="label"> label</label>
                            </div>
                            <div class="mb-5">
                                <label class="form-label">Assigned</label>
                                <div class="assigned d-flex flex-wrap"></div>
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="attachments">Attachments</label>
                                <div>
                                    <input type="file" class="form-control" id="attachments">
                                </div>
                            </div>
                            <div class="mb-5">
                                <label class="form-label">Comment</label>
                                <div class="comment-editor"></div>
                                <div class="d-flex justify-content-end">
                                    <div class="comment-toolbar">
                                        <span class="ql-formats me-0">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                            <button class="ql-link"></button>
                                            <button class="ql-image"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <div class="d-flex flex-wrap">
                                    <button type="button" class="btn btn-primary me-4 waves-effect waves-light" data-bs-dismiss="offcanvas">
                                        Update
                                    </button>
                                    <button type="button" class="btn btn-outline-danger waves-effect" data-bs-dismiss="offcanvas">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Activities -->
                    <div class="tab-pane fade text-heading" id="tab-activity" role="tabpanel">
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <span class="avatar-initial bg-label-success rounded-circle">HJ</span>
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">Jordan Left the board.</p>
                                <small class="text-muted">Today 11:00 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <img src="../../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">Dianna mentioned <span class="text-primary"></span> in a comment.</p>
                                <small class="text-muted">Today 10:20 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <img src="../../assets/img/avatars/2.png" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">Martian added mopd Charts &amp; Maps task to the done board.</p>
                                <small class="text-muted">Today 10:00 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">Barry Commented on pp review task.</p>
                                <small class="text-muted">Today 8:32 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <span class="avatar-initial bg-label-dark rounded-circle">BW</span>
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">Bruce was assigpd task of code review.</p>
                                <small class="text-muted">Today 8:30 PM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <span class="avatar-initial bg-label-danger rounded-circle">CK</span>
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">
                                    Clark assigned taskpX Research to <span class="text-primary"></span>
                                </p>
                                <small class="text-muted">Today 8:00 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">
                                    Ray Added mopd <span class="text-heading">Forms &amp; Tables</span> task from in progress to
                                    done.
                                </p>
                                <small class="text-muted">Today 7:45 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">Barry Complete all pe tasks assigned to him.</p>
                                <small class="text-muted">Today 7:17 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <span class="avatar-initial bg-label-success rounded-circle">HJ</span>
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">Jordan added taskpo update new images.</p>
                                <small class="text-muted">Today 7:00 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <img src="../../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle">
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">
                                    Dianna moved tpk <span class="fw-medium text-heading">FAQ UX</span> from in progress to
                                    done board.
                                </p>
                                <small class="text-muted">Today 7:00 AM</small>
                            </div>
                        </div>
                        <div class="media mb-4 d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <span class="avatar-initial bg-label-danger rounded-circle">CK</span>
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">
                                    Clark added new bopd with name <span class="fw-medium text-heading">Done</span>
                                </p>
                                <small class="text-muted">Yesterday 3:00 PM</small>
                            </div>
                        </div>
                        <div class="media d-flex align-items-center">
                            <div class="avatar me-3 flex-shrink-0">
                                <span class="avatar-initial bg-label-dark rounded-circle">BW</span>
                            </div>
                            <div class="media-body ms-1">
                                <p class="mb-0">Bruce added new tpk in progress board.</p>
                                <small class="text-muted">Yesterday 12:00 PM</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   
  <script src="~/hani/assets/js/app-kanban.js"></script>
     @*  <script src="~/hani/assets/js/app-kanban.js"></script> *@
@*     <script>
        var KanbanTest = new jKanban({
            element: ".kanban-wrapper",
            gutter: "10px",
            widthBoard: "450px",
            itemHandleOptions: {
                enabled: true,
            },
            click: function (el) {
                console.log("Trigger on all items click!");
            },
            context: function (el, e) {
                console.log("Trigger on all items right-click!");
            },
            dropEl: function (el, target, source, sibling) {
                console.log(target.parentElement.getAttribute('data-id'));
                console.log(el, target, source, sibling)
            },
            buttonClick: function (el, boardId) {
                console.log(el);
                console.log(boardId);
                alert(boardId);
                // create a form to enter element
                var formItem = document.createElement("form");
                formItem.setAttribute("class", "itemform");
                formItem.innerHTML =
                    '<div class="form-group"><textarea class="form-control" rows="2" autofocus></textarea></div><div class="form-group"><button type="submit" class="btn btn-primary btn-xs pull-right">Submit</button><button type="button" id="CancelBtn" class="btn btn-default btn-xs pull-right">Cancel</button></div>';

                KanbanTest.addForm(boardId, formItem);
                formItem.addEventListener("submit", function (e) {
                    e.preventDefault();
                    var text = e.target[0].value;
                    KanbanTest.addElement(boardId, {
                        title: text
                    });
                    formItem.parentNode.removeChild(formItem);
                });
                document.getElementById("CancelBtn").onclick = function () {
                    formItem.parentNode.removeChild(formItem);
                };
            },
            itemAddOptions: {
                enabled: true,
                content: '+ Add New Card',
                class: 'custom-button',
                footer: true
            },
            boards: [
                {
                    id: "_todo",
                    title: "To Do (Can drop item only in working)",
                    class: "info,good",
                    dragTo: ["_working"],
                    item: [
                        {
                            id: "_test_delete",
                            title: "Try drag this (Look the console)",
                            drag: function (el, source) {
                                console.log("START DRAG: " + el.dataset.eid);
                            },
                            dragend: function (el) {
                                console.log("END DRAG: " + el.dataset.eid);
                            },
                            drop: function (el) {
                                console.log("DROPPED: " + el.dataset.eid);
                            }
                        },
                        {
                            title: "Try Click This!",
                            click: function (el) {
                                alert("click");
                            },
                            context: function (el, e) {
                                alert("right-click at (" + `${e.pageX}` + "," + `${e.pageX}` + ")")
                            },
                            class: ["peppe", "bello"]
                        }
                    ]
                },
                {
                    id: "_working",
                    title: "Working (Try drag me too)",
                    class: "warning",
                    item: [
                        {
                            title: "Do Something!"
                        },
                        {
                            title: "Run?"
                        }
                    ]
                },
                {
                    id: "_done",
                    title: "Done (Can drop item only in working)",
                    class: "success",
                    dragTo: ["_working"],
                    item: [
                        {
                            title: "All right"
                        },
                        {
                            title: "Ok!"
                        }
                    ]
                }
            ]
        });

        var toDoButton = document.getElementById("addToDo");
        toDoButton.addEventListener("click", function () {
            KanbanTest.addElement("_todo", {
                title: "Test Add"
            });
        });

        var toDoButtonAtPosition = document.getElementById("addToDoAtPosition");
        toDoButtonAtPosition.addEventListener("click", function () {
            KanbanTest.addElement("_todo", {
                title: "Test Add at Pos"
            }, 1);
        });

        var addBoardDefault = document.getElementById("addDefault");
        addBoardDefault.addEventListener("click", function () {
            KanbanTest.addBoards([
                {
                    id: "_default",
                    title: "Kanban Default",
                    item: [
                        {
                            title: "Default Item"
                        },
                        {
                            title: "Default Item 2"
                        },
                        {
                            title: "Default Item 3"
                        }
                    ]
                }
            ]);
        });

        var removeBoard = document.getElementById("removeBoard");
        removeBoard.addEventListener("click", function () {
            KanbanTest.removeBoard("_done");
        });

        var removeElement = document.getElementById("removeElement");
        removeElement.addEventListener("click", function () {
            KanbanTest.removeElement("_test_delete");
        });

        var allEle = KanbanTest.getBoardElements("_todo");
        allEle.forEach(function (item, index) {
            //console.log(item);
        });
    </script>
  *@
}